.add-recipe__wrapper {
  min-height: 100vh;
  background: no-repeat url("/src/assets/images/cookBookBGC.jpg") center;
  background-size: cover;
  display: flex;

  label {
    padding: 20px;

  }

}

.recipeform {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: fit-content;
  margin: 40px auto;
  background-color: lightgray;
  padding: 24px 10px 35px;
  border-radius: 11px;

  input {
    width: 100%;
    height: 30px;
    border: none;
  }

  textarea {
    min-width: 100%;
    border: none;

  }

}

.addrecipe-hdl {
  background-image: linear-gradient(45deg, orange, black);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin: 0 auto;
  padding: 20px;

}

.add-btn {
  left: 32%;
  width: 40%;
  //color: black;
  //cursor: pointer;
  //background: linear-gradient(67deg, orange, white);
  //padding: 10px 0;
  //border-radius: 7px;
  //border: none;
  //box-shadow: 0 0 2px darkred;
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: orange;
  cursor: pointer;
  display: inline-block;
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1em;
  margin-top: 20px;
  opacity: 1;
  outline: 0;
  padding: 1em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.add-btn:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  border-radius: 5px;
  background: linear-gradient(135deg, white, orange);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.add-btn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.add-btn:after {
  background-color: #FFFFFF;
}

.add-btn span {
  z-index: 1;
  position: relative;

}

.add-btn:hover {
  //background: linear-gradient(67deg, white, orange);
  color: black;
  box-shadow: 0 0 3px black;
  border:none;
}



