.main-page {
  min-height: 100vh;
  background: no-repeat url("/src/assets/images/cookBookBGC.jpg") center;
  opacity: 0.9;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

.recipe-details {
  opacity: 0.95;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 260px;
  height: 300px;
  border-radius: 5px;
}

.recipe-title {
  color: black;
  text-align: center;
  margin: auto;
}