.main-page {
  min-height: 100vh;
  //width: 100%;
  background: no-repeat url("/src/assets/images/photo-1532980400857-e8d9d275d858.jpg") center;
  background-size: cover;
  opacity: 0.9;
  img {
    height: 256px;
  }
}

.recipe-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .recipe-details {
    opacity: 0.9;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 260px;
    height: 340px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 9px lightgray;


  }
  .recipe-title {
    color: orange;
    text-align: center;
    margin: auto;
  }
  a {
    text-decoration: none;
  }

}

.recipe-details:hover {
  box-shadow: 0 2px 29px lightsalmon;
}

.recipe-details img {
  transition: transform .4s;
}

.recipe-details img:hover {
  transform: scale(1.1);

}






