@import "styles/generic/_normalize.scss";
@import "styles/_addrecipe.scss";
@import "styles/_header.scss";
@import "styles/_mainpage.scss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

html {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  background-color: lightgray;
}

